services:
  nginx:
    container_name: nginx
    
    build: infrastructure/nginx
    image: nginx
    ports:
      - "443:443"
    volumes:
      - ./infrastructure/nginx/certs:/etc/nginx/certs:ro
    healthcheck:
      test: [ "CMD", "curl", "-k", "https://nginx:443" ]
      interval: 2s
      timeout: 5s
      retries: 2
    env_file:
      - .env
    depends_on:
      - front

  front:
    container_name: front
    build: frontend
    image: front
    ports:
      - "${FRONT_SERVICE_PORT}:${FRONT_SERVICE_PORT}"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://front:3003" ]
      interval: 2s
      timeout: 5s
      retries: 2
    env_file:
      - .env
    
  auth:
    container_name: auth
    build: services/auth
    image: auth
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://auth:3000/api/auth" ]
      interval: 2s
      timeout: 5s
      retries: 2
      # start_period: 30s
    env_file:
      - .env
  chat:
    container_name: chat
    build: services/chat
    image: chat
    ports:
      - "${CHAT_SERVICE_PORT}:${CHAT_SERVICE_PORT}"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://chat:3001/api/chat" ]
      interval: 2s
      timeout: 5s
      retries: 2
    env_file:
      - .env
  user:
    container_name: user
    build: services/user_management
    image: user
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://user:3002/api/user" ]
      interval: 2s
      timeout: 5s
      retries: 2
    env_file:
      - .env
