global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'ft_transcendence_services'
    metrics_path: '/metrics'
    static_configs:
      - targets: 
        - 'auth:3004'
        - 'chat:3001'
        - 'user:3002'
